<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ get_url(path="img/favicon.png") }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ get_url(path="css/basscss.min.css") }}">
    <link rel="stylesheet" href="{{ get_url(path="css/main.css") }}">
    <title>
        {% if section.title %}
            {{ section.title }}
        {% elif page.title %}
            {{ page.title }}
        {% else %}
            {{ config.extra.title }}
        {% endif %}
    </title>
</head>
<body class="fade-in max-width-3 mx-auto py3 px3">
    {% block content %}{% endblock content %}
</body>
</html>