{% extends "base.html" %}

{% block content %}
    <div class="controls px1">
        <a href="http://prose.io/#keb/keb.now.sh/tree/master/content">prose.io</a>
    </div>

    <div class="flex flex-wrap">
        <div class="col col-12 md-col-3">
            <img src="{{ get_url(path="img/pic.jpg") }}" alt="pic" class="rounded">
        </div>
        <div class="col col-12 md-col-3">
            <h2 class="p0 my1">keb</h2>
            <span>videogame politician</span>
            <p>contact: <a href="mailto:keb@disroot.org">keb@disroot.org</a></p>
        </div>
        <div class="col col-12 md-col-6">
            <ul>
                <li><a href="https://mas.to/@keb">mas.to/@keb</a></li>
                <li><a href="https://github.com/keb">github.com/keb</a></li>
                <li><a href="https://keb.itch.io/">keb.itch.io</a></li>
                <li><a href="https://last.fm/user/kebfm">last.fm/user/kebfm</a></li>
                <li><a href="https://www.gog.com/u/kebg">gog.com/u/kebg</a></li>
                <li><a href="https://steamcommunity.com/id/kebsteam">steamcommunity.com/id/kebsteam</a></li>
            </ul>
        </div>
    </div>

    <div class="my2" style="border-bottom: 1px solid #dedede;"></div>

    {% for post in paginator.pages %}
        <div>
            <h2 class="mb1">
                <a href="{{ post.permalink }}">{{ post.title }}</a>
            </h2>
            <span class="h5 p0 m0 light-subdue">
                {{ post.date | date(format="%B %d, %Y", timezone="America/New_York") }}
            </span>
        </div>
    {% endfor %}

    <div class="py3">
        {% if paginator.previous %}
            <a href="{{ paginator.previous }}">← previous</a>
        {% endif %}
        {% if paginator.next %}
            <a href="{{ paginator.next }}">next →</a>
        {% endif %}
    </div>
{% endblock content %}
