{% extends "base.html" %}

{% block content %}
    <div class="controls p1">
        <a href="https://github.com/keb/keb.github.io/new/master/content">new</a>
    </div>

    <header class="flex flex-wrap items-center justify-between site-header">
        <div class="col col-12 md-col-3">
            <img src="{{ get_url(path="img/pic.jpg") }}" alt="pic" class="rounded">
        </div>
        <div class="col col-12 md-col-3 site-header__left">
            <div>
                <h1 class="keb-header p0 m0" title="Discord ID">
                    keb<small class="discord-tag">#2245</small>
                </h1>
                <a href="mailto:keb@sheev.net">keb@sheev.net</a>
            </div>
            <br />
            <div>
                <a href="/wishlist">wishlist</a>
            </div>
            <div>
                <a href="/backlog">backlog</a>
            </div>
        </div>
        <div class="col col-12 md-col-6">
            <ul class="pl2">
                <li><a href="https://subreply.com/keb">subreply.com/keb</a></li>
                <li><a href="https://github.com/keb">github.com/keb</a></li>
                <li><a href="https://keb.itch.io/">keb.itch.io</a></li>
                <li><a href="https://www.last.fm/user/kebfm">last.fm/user/kebfm</a></li>
                <li><a href="https://www.gog.com/u/kebg">gog.com/u/kebg</a></li>
                <li><a href="https://steamcommunity.com/id/kebsteam">steamcommunity.com/id/kebsteam</a></li>
            </ul>
        </div>
    </header>

    <div class="line"></div>

    {% for post in section.pages | slice(start=0, end=6) %}
        <article>
            <header>
                <h2 class="mb1">
                    <a href="{{ post.permalink }}">{{ post.title }}</a>
                </h2>
            </header>

            <small class="h5 p0 m0 light-subdue">
                {{ post.date | date(format="%B %d, %Y", timezone="America/New_York") }}
            </small>
        </article>
    {% endfor %}

    <nav class="py3">
        <a href="/archive/">archive →</a>
    </nav>
{% endblock content %}
