{% extends "base.html" %}

{% block content %}
    <div class="controls px1">
        <a href="https://github.com/keb/keb.now.sh/new/master/content">new</a>
    </div>

    <header class="flex flex-wrap items-center justify-between">
        <div class="col col-12 md-col-3">
            <img src="{{ get_url(path="img/pic.jpg") }}" alt="pic" class="rounded">
        </div>
        <div class="col col-12 md-col-3">
            <h2 class="keb-header p0 m0" title="Discord ID">
                keb<small class="discord-tag">#2245</small>
            </h2>
            <a href="mailto:keb@disroot.org">keb@disroot.org</a>
            <br />
            <br />
            <a href="/wishlist">wishlist</a>
            <br />
            <a href="/backlog">backlog</a>
        </div>
        <div class="col col-12 md-col-6">
            <ul>
                <li><a href="https://mas.to/@keb">mas.to/@keb</a></li>
                <li><a href="https://github.com/keb">github.com/keb</a></li>
                <li><a href="https://keb.itch.io/">keb.itch.io</a></li>
                <li><a href="https://last.fm/user/kebfm">last.fm/user/kebfm</a></li>
                <li><a href="https://www.gog.com/u/kebg">gog.com/u/kebg</a></li>
                <li><a href="https://steamcommunity.com/id/kebsteam">steamcommunity.com/id/kebsteam</a></li>
            </ul>
        </div>
    </header>

    <div class="line"></div>

    {% for post in paginator.pages %}
        <article>
            <header>
                <h2 class="mb1">
                    <a href="{{ post.permalink }}">{{ post.title }}</a>
                </h2>
            </header>

            <small class="h5 p0 m0 light-subdue">
                {{ post.date | date(format="%B %d, %Y", timezone="America/New_York") }}
            </small>
        </article>
    {% endfor %}

    <nav class="py3">
        {% if paginator.previous %}
            <a href="{{ paginator.previous }}">← previous</a>
        {% endif %}
        {% if paginator.next %}
            <a href="{{ paginator.next }}">next →</a>
        {% endif %}
    </nav>
{% endblock content %}
